@model IEnumerable<Rechner>

@{
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css " />
    <link rel=" stylesheet" href="~/css/tabelle.css"/>
    <title>Umrechner</title>
</head>
<body>
    <div class"text-center p2">
        <table class ="table-styled">
            <thead>
                <tr><th>Kühe</th><th>Schafe</th><th>Ziegen</th><th>Kleine Ziegen</th><th>Restbetrag</th><th>Gesamt Summe</th></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.intspeicher[0]</td>
                        <td>@item.intspeicher[1]</td>
                        <td>@item.intspeicher[2]</td>
                        <td>@item.intspeicher[3]</td>
                        <td>@item.intspeicher[4]</td>
                        <td>@item.Betrag</td>
                    </tr>
                }
            </tbody>
        </table>
        </br>
        <form asp-action="ZSK_Umrechner" method="get">
            <button type="submit" class="btn btn-primary">Zurück zum Rechner</button>
        </form>
        <br />
    </div>
    <duv
        <form asp-action="Index" method="get">
            <button type="submit" class="btn btn-primary">Zurück zum WebPanel</button>
        </form>
</body>
</html>
